* {
  box-sizing: border-box;
}
 body {
  margin: 0;
  color:white;
}

canvas {
  display: block;
}


@keyframes header{
  0%{height: 0%;}
  100%{height:100%}

}
.header {
  background-color: #a09b86;
  padding: 50px;
  text-align: center;
  animation-name: header;
  animation-duration: 2s;

}
.nav {
  padding:10px;
  background-color: #ac825b;
}
.split {
  float: left;
  width: 40%;
  padding: 15px;
  text-align: justify;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
height:100%;
position:absolute;
top:120px;right:0px;
width:300px;
background-color: #6a80bd;
}
.sidebar div{
  position: absolute;
  top:0px;right:110px;
}
.EventCal {
  position:absolute;
  top:500px;
  /* float: inherit; */
}
@media screen and (max-width:40em) {
  .sidebar {
    top:500PX;
    width:100%;
  }
  .EventCal {
    position:absolute;
    top:1000px;
  }
  .split{
    width:100%;
  }
}
.pnode{
  /* background-color: #cf8c55; */
  border-radius: 12px;
}
.split>p {
  background-color: rgba(255,255,255,0.1);
  padding:20px;
  border-radius: 2px;
  color: white;
}
.split>h2 {
  padding-left: 22px;
}

/* div{
  z-index: 0;
  background-color: rgb(0, 0, 0);
} */
/* div {
  background-color: rgba(0,0,0,0.3);
} */
