* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.header {
  background-color: #a09b86;
  padding: 50px;
  text-align: center;
}
.nav {
  padding:10px;
  background-color: #ac825b;
}
.split {
  float: left;
  width: 40%;
  padding: 15px;
  text-align: justify;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
height:100%;
position:absolute;
top:120px;right:0px;
width:300px;
background-color: #6a80bd;
}
.sidebar div{
  position: absolute;
  top:0px;right:110px;
}
.EventCal {
  position:absolute;
  top:500px;
}
@media screen and (max-width:40em) {
  .sidebar {
    top:500PX;
    width:100%;
  }
  .EventCal {
    position:absolute;
    top:1000px;
  }
  .split{
    width:100%;
  }
}


/* body {
    background-color:#636b78;
} */
.pnode{
  /* background-color: #cf8c55; */
  border-radius: 12px;
}
